<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>iconv3</string>
	<key>CFBundleIdentifier</key>
	<string>com.pretz.yarg</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.3.1</string>
    <key>CFBundleShortVersionString</key>
	<string>0.3.1</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2006-2009, Alex Pretzlav</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>http://alex.turnlav.net/yarg/appcast.xml</string>
</dict>
</plist>
